body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
#container {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
#topBar {
    background-color: white;
    color: #3a76f0; /* Signal app blue color */
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    font-size: 2em; /* Make the title 2x as big */
}
#toggleLang {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
#toggleLang button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#toggleLang button.active {
    background-color: white;
}
#toggleLang button:hover {
    background-color: #eee;
}
#intro {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    padding: 20px;
}
#introTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#quote {
    font-style: italic;
    margin-top: 10px;
}
#imagePreview {
    position: relative;
    display: inline-block;
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    height: auto;
    aspect-ratio: 1 / 1; /* Ensure it is a square */
    margin: 20px 0;
    border: 2px solid #ccc;
}
#spotlight {
    position: absolute;
    cursor: move;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(169, 169, 169, 0.8);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: border 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-view {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.8);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: border 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signal-box{
    background: #3a76f0;
    color: white;
    font-weight: 900;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.resize-handle {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
}

.resize-handle.nw { 
    top: -2px; 
    left: -2px; 
    cursor: nw-resize; 
    border-left: 5px solid black; 
    border-top: 5px solid black; 
}

.resize-handle.ne { 
    top: -2px; 
    right: -2px; 
    cursor: ne-resize; 
    border-right: 5px solid black; 
    border-top: 5px solid black; 
}

.resize-handle.sw { 
    bottom: -2px; 
    left: -2px; 
    cursor: sw-resize; 
    border-left: 5px solid black; 
    border-bottom: 5px solid black; 
}

.resize-handle.se { 
    bottom: -2px; 
    right: -2px; 
    cursor: se-resize; 
    border-right: 5px solid black; 
    border-bottom: 5px solid black; 
}

#downloadButton {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #3a76f0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#downloadButton:hover {
    background-color: #2857b8;
}
canvas {
    display: none;
}
#linkedinBar {
    background-color: white;
    color: #0077b5; /* Signal app blue color */
    text-align: center;
    padding: 30px 0; /* Add more padding on top and bottom */
    width: 100%;
    bottom: 0;
}
#linkedinBar a {
    color: #0077b5; /* Signal app blue color */
    text-decoration: none;
}
#uploadForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#editIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}
#imagePreview:hover #editIcon {
    display: block;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    #container {
        padding: 0;
    }
    
    #intro {
        padding: 10px;
    }
}

@media (max-width: 480px) {  
    #introTitle {
        font-size: 1.2em;
    }

}
